web-block-call/backend/package-lock.json
web-block-call/backend/node_modules
web-block-call/backend/uploads
web-block-call/backend/src/logs

web-block-call/frontend/node_modules

web-block-call/mongo/data1
web-block-call/mongo/data2
web-block-call/mongo/data3
web-block-call/mongo/mongo1-data
web-block-call/mongo/mongo2-data
web-block-call/mongo/mongo3-data
web-block-call/mongo/backups
web-block-call/uploads

web-block-call/env
web-block-call/.env
web-block-call/.git

web-block-call/.VSCodeCounter


# OSX
#
app-block-call/.DS_Store

# Xcode
#
app-block-call/build/
app-block-call/*.pbxuser
app-block-call/!default.pbxuser
app-block-call/*.mode1v3
app-block-call/!default.mode1v3
app-block-call/*.mode2v3
app-block-call/!default.mode2v3
app-block-call/*.perspectivev3
app-block-call/!default.perspectivev3
app-block-call/xcuserdata
app-block-call/*.xccheckout
app-block-call/*.moved-aside
app-block-call/DerivedData
app-block-call/*.hmap
app-block-call/*.ipa
app-block-call/*.xcuserstate
app-block-call/ios/.xcode.env.local

# Android/IntelliJ
#
app-block-call/build/
app-block-call/.idea
app-block-call/.gradle
app-block-call/local.properties
app-block-call/*.iml
app-block-call/*.hprof
app-block-call/.cxx/

# node.js
#
app-block-call/node_modules
app-block-call/node_modules
app-block-call/npm-debug.log
app-block-call/yarn-error.log

# BUCK
app-block-call/buck-out/
app-block-call/\.buckd/
app-block-call/*.keystore
app-block-call/!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
app-block-call/*.jsbundle

# Ruby / CocoaPods
app-block-call/ios/Pods/
app-block-call/vendor/bundle/

react-comments-section-ts/node_modules
