.ant-list-item{
  padding: 3px !important;
}

.ant-btn-product-card{
  padding: 5px !important;
}

.list-item-product-card{
  padding: 0px !important;
}

.list-card-item{
  display: flex !important;
  align-items: start !important;
  padding: 10px !important;
  // border-bottom: '1px solid #f0f0f0';
  border: 1px solid #f0f0f0 !important;
  flex-direction: row;
}